<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	
  <Package Name="Canadian Incident Action Plan Program" Manufacturer="CIFFC" Version="1.0.0.0" UpgradeCode="1C312140-B9EB-4F92-9E0F-8B46740C7BE2">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
