<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="CIAPPO_Installer_Project" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="19bd6386-7e12-4ad5-9c70-2941fdd12cc0">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
