<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Product Id="AC9C5B03-CBD2-463E-8E2F-282647D9F5BF" Name="Canadian Incident Action Plan Program" Language="1033" Version="1.0.2.0" Manufacturer="CIFFC" UpgradeCode="14f3f8c0-721f-4c77-9daa-d33b6accf00d">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"  Keywords='Installer' Description="CIFFC Incident Action Plan Program Installer"
         Manufacturer='CIFFC' />

		<MediaTemplate EmbedCab="yes" />
		<UI Id="WixUI_Mondo">
			<UIRef Id="WixUI_InstallDir" />
			<UIRef Id="WixUI_ErrorProgressText"/>
		</UI>

		
		
		<WixVariable Id="WixUILicenseRtf" Value="LicenseAgreement.rtf" />
		
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<WixVariable Id="WixUIBannerBmp" Value="CIAPPInstallHeader.jpg" />
		<WixVariable Id="WixUIDialogBmp" Value="CIAPPInstallerBg.jpg" />

		<Feature Id='Complete' Title='Canadian Incident Action Plan Program' Description='The complete package.'    Display='expand' Level='1' ConfigurableDirectory='INSTALLFOLDER'>
			<Feature Id='MainProgram' Title='Program' Description='The main executable.' Level='1'>
				<ComponentGroupRef Id="ProductComponents" />
				<ComponentGroupRef Id="BlankFormComponents" />
				<ComponentRef Id='MainExecutable' />
				<ComponentRef Id="ApplicationShortcut" />
			</Feature>

		
		</Feature>
		
		
		<PropertyRef Id="WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED"/>
		<Condition Message='This setup requires the .NET Framework 4.7 or later installed.'>
			<![CDATA[Installed OR WIX_IS_NETFRAMEWORK_472_OR_LATER_INSTALLED]]>
		</Condition>
		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		
		<Icon Id="CanadianIncidentActionPlanProgram.exe" SourceFile="ProgramOutput\Canadian Incident Action Plan Program.exe" />
<!--WorkingDirectory="INSTALLDIR"-->

	

		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="069951ea-679d-416d-accb-c1d0e6bdbe1c">
				<Shortcut Id="ApplicationStartMenuShortcut"
                          Name="Canadian Incident Action Plan Program"
                          Description="Canadian Incident Action Plan Program"
                          Target="[#Canadian_Incident_Action_Plan_ProgramExe]"
                          WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\CIFFC\CanadianIncidentActionPlanProgram" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</DirectoryRef>
		
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id='CIFFCFolder' Name='CIFFC'>
					<Directory Id="INSTALLFOLDER" Name="Canadian Incident Action Plan Program" >
						<Directory Id="BlankFormsFolder" Name="BlankForms" >
						</Directory>
						
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="My Application Name"/>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop" />
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id='MainExecutable' Guid='d42acf2c-6b70-43c0-bb0f-1f2768b548c0'>
				<File Id='Canadian_Incident_Action_Plan_ProgramExe' Name='Canadian Incident Action Plan Program.exe' DiskId='1' Source='ProgramOutput\Canadian Incident Action Plan Program.exe' KeyPath='yes'>
					
					<Shortcut Id="desktopFoobar10" Directory="DesktopFolder" Name="Canadian Incident Action Plan Program"
						WorkingDirectory='INSTALLDIR' Icon="CanadianIncidentActionPlanProgram.exe" IconIndex="0" Advertise="yes" />
				</File>
			</Component>


			<Component Id='BouncyCastle_Crypto_dll' Guid ='57549251-86c7-4786-81b3-d7f869b1595e'>
				<File Id='BouncyCastle_Crypto_dll' Name='BouncyCastle.Crypto.dll' DiskId='1' Source='ProgramOutput\BouncyCastle.Crypto.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='CoordinateSharp_dll' Guid ='a0718e63-b200-4621-bac2-4703d113914b'>
				<File Id='CoordinateSharp_dll' Name='CoordinateSharp.dll' DiskId='1' Source='ProgramOutput\CoordinateSharp.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='itextsharp_dll' Guid ='2dd090a9-b72e-4d5e-8e89-d376cbf687ab'>
				<File Id='itextsharp_dll' Name='itextsharp.dll' DiskId='1' Source='ProgramOutput\itextsharp.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='MessagePack_Annotations_dll' Guid ='fd176b23-caee-4b32-9106-35f7b2b7c173'>
				<File Id='MessagePack_Annotations_dll' Name='MessagePack.Annotations.dll' DiskId='1' Source='ProgramOutput\MessagePack.Annotations.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='MessagePack_dll' Guid ='1f96cedd-d233-458e-87cb-81e0b7c4aebc'>
				<File Id='MessagePack_dll' Name='MessagePack.dll' DiskId='1' Source='ProgramOutput\MessagePack.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='Microsoft_Bcl_AsyncInterfaces_dll' Guid ='0d72aee8-3942-4802-a2f9-bd6c6f6c1da5'>
				<File Id='Microsoft_Bcl_AsyncInterfaces_dll' Name='Microsoft.Bcl.AsyncInterfaces.dll' DiskId='1' Source='ProgramOutput\Microsoft.Bcl.AsyncInterfaces.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='Microsoft_IO_Redist_dll' Guid ='99e56bad-56ab-45d6-8736-279ed60020e0'>
				<File Id='Microsoft_IO_Redist_dll' Name='Microsoft.IO.Redist.dll' DiskId='1' Source='ProgramOutput\Microsoft.IO.Redist.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='Microsoft_NET_StringTools_dll' Guid ='6f7b6ef6-e9a1-425f-87d6-804d2c3edff1'>
				<File Id='Microsoft_NET_StringTools_dll' Name='Microsoft.NET.StringTools.dll' DiskId='1' Source='ProgramOutput\Microsoft.NET.StringTools.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='Microsoft_ServiceHub_Framework_dll' Guid ='4f1a5f90-bbee-46f2-a4e4-d0d0f0930202'>
				<File Id='Microsoft_ServiceHub_Framework_dll' Name='Microsoft.ServiceHub.Framework.dll' DiskId='1' Source='ProgramOutput\Microsoft.ServiceHub.Framework.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='Microsoft_VisualStudio_Composition_dll' Guid ='c07602e2-9270-43cf-bfce-f247aa157559'>
				<File Id='Microsoft_VisualStudio_Composition_dll' Name='Microsoft.VisualStudio.Composition.dll' DiskId='1' Source='ProgramOutput\Microsoft.VisualStudio.Composition.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='Microsoft_VisualStudio_RemoteControl_dll' Guid ='5cc8dd1b-da52-4ed8-b4a3-ad7c99ec03b4'>
				<File Id='Microsoft_VisualStudio_RemoteControl_dll' Name='Microsoft.VisualStudio.RemoteControl.dll' DiskId='1' Source='ProgramOutput\Microsoft.VisualStudio.RemoteControl.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='Microsoft_VisualStudio_RpcContracts_dll' Guid ='33f5cf63-e6be-49d6-8fb1-024d68827eb6'>
				<File Id='Microsoft_VisualStudio_RpcContracts_dll' Name='Microsoft.VisualStudio.RpcContracts.dll' DiskId='1' Source='ProgramOutput\Microsoft.VisualStudio.RpcContracts.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='Microsoft_VisualStudio_Telemetry_dll' Guid ='76b63920-9e1e-4bf3-b662-7bb92b0ae9dc'>
				<File Id='Microsoft_VisualStudio_Telemetry_dll' Name='Microsoft.VisualStudio.Telemetry.dll' DiskId='1' Source='ProgramOutput\Microsoft.VisualStudio.Telemetry.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='Microsoft_VisualStudio_Threading_dll' Guid ='9fb03a13-b42f-4772-beaa-9d2fc569f6a0'>
				<File Id='Microsoft_VisualStudio_Threading_dll' Name='Microsoft.VisualStudio.Threading.dll' DiskId='1' Source='ProgramOutput\Microsoft.VisualStudio.Threading.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='Microsoft_VisualStudio_Utilities_dll' Guid ='cc434263-12ff-4547-bb05-ec0cd29c7994'>
				<File Id='Microsoft_VisualStudio_Utilities_dll' Name='Microsoft.VisualStudio.Utilities.dll' DiskId='1' Source='ProgramOutput\Microsoft.VisualStudio.Utilities.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='Microsoft_VisualStudio_Utilities_Internal_dll' Guid ='77496382-95a9-4fe2-9d79-f25ac8ecff21'>
				<File Id='Microsoft_VisualStudio_Utilities_Internal_dll' Name='Microsoft.VisualStudio.Utilities.Internal.dll' DiskId='1' Source='ProgramOutput\Microsoft.VisualStudio.Utilities.Internal.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='Microsoft_VisualStudio_Validation_dll' Guid ='395f74c0-2467-4d73-9310-e2d1b189676b'>
				<File Id='Microsoft_VisualStudio_Validation_dll' Name='Microsoft.VisualStudio.Validation.dll' DiskId='1' Source='ProgramOutput\Microsoft.VisualStudio.Validation.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='Microsoft_Win32_Registry_dll' Guid ='2cef31c7-a7d7-4367-a1f0-f84e91a57093'>
				<File Id='Microsoft_Win32_Registry_dll' Name='Microsoft.Win32.Registry.dll' DiskId='1' Source='ProgramOutput\Microsoft.Win32.Registry.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='Nerdbank_Streams_dll' Guid ='7e8e23cb-d253-4156-adca-5f1e85866fe2'>
				<File Id='Nerdbank_Streams_dll' Name='Nerdbank.Streams.dll' DiskId='1' Source='ProgramOutput\Nerdbank.Streams.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='NetworkCommsDotNet_dll' Guid ='4aa0fda9-be2a-48c5-a274-fbe1885220e2'>
				<File Id='NetworkCommsDotNet_dll' Name='NetworkCommsDotNet.dll' DiskId='1' Source='ProgramOutput\NetworkCommsDotNet.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='Newtonsoft_Json_dll' Guid ='f57b903a-6eed-4d34-926f-a3a076255404'>
				<File Id='Newtonsoft_Json_dll' Name='Newtonsoft.Json.dll' DiskId='1' Source='ProgramOutput\Newtonsoft.Json.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='protobuf_net_Core_dll' Guid ='ee5866e7-71c3-458e-a9e8-93ec780d69f6'>
				<File Id='protobuf_net_Core_dll' Name='protobuf-net.Core.dll' DiskId='1' Source='ProgramOutput\protobuf-net.Core.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='protobuf_net_dll' Guid ='addecdb6-d79f-4262-b84b-e631f9b9f632'>
				<File Id='protobuf_net_dll' Name='protobuf-net.dll' DiskId='1' Source='ProgramOutput\protobuf-net.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='ProtobufSerializer_dll' Guid ='acf2ffb0-dfe8-4f41-a900-56133bac7511'>
				<File Id='ProtobufSerializer_dll' Name='ProtobufSerializer.dll' DiskId='1' Source='ProgramOutput\ProtobufSerializer.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='StreamJsonRpc_dll' Guid ='b025cff1-d19a-4ab3-b435-a9ca0e44f0da'>
				<File Id='StreamJsonRpc_dll' Name='StreamJsonRpc.dll' DiskId='1' Source='ProgramOutput\StreamJsonRpc.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Buffers_dll' Guid ='e06e6f56-e489-4332-bd70-b7953608d19e'>
				<File Id='System_Buffers_dll' Name='System.Buffers.dll' DiskId='1' Source='ProgramOutput\System.Buffers.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Collections_Immutable_dll' Guid ='a2caf004-1a18-4db4-9c7f-f068ad35b3e0'>
				<File Id='System_Collections_Immutable_dll' Name='System.Collections.Immutable.dll' DiskId='1' Source='ProgramOutput\System.Collections.Immutable.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Composition_AttributedModel_dll' Guid ='06db89d6-eadd-420d-8e3c-28e2ddb1bc21'>
				<File Id='System_Composition_AttributedModel_dll' Name='System.Composition.AttributedModel.dll' DiskId='1' Source='ProgramOutput\System.Composition.AttributedModel.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Composition_Convention_dll' Guid ='65725c78-725b-48e1-8114-4f5f7f084106'>
				<File Id='System_Composition_Convention_dll' Name='System.Composition.Convention.dll' DiskId='1' Source='ProgramOutput\System.Composition.Convention.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Composition_Hosting_dll' Guid ='226a9d3e-0ec1-465a-adac-8d4d525e41fd'>
				<File Id='System_Composition_Hosting_dll' Name='System.Composition.Hosting.dll' DiskId='1' Source='ProgramOutput\System.Composition.Hosting.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Composition_Runtime_dll' Guid ='a24e44c4-5cb8-4eb6-ad00-0014b71a3943'>
				<File Id='System_Composition_Runtime_dll' Name='System.Composition.Runtime.dll' DiskId='1' Source='ProgramOutput\System.Composition.Runtime.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Composition_TypedParts_dll' Guid ='f4c1bdf9-2304-465e-b3ec-eec3f7110f34'>
				<File Id='System_Composition_TypedParts_dll' Name='System.Composition.TypedParts.dll' DiskId='1' Source='ProgramOutput\System.Composition.TypedParts.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Diagnostics_DiagnosticSource_dll' Guid ='010d52d0-21d5-4b55-9c30-cf090fd7932f'>
				<File Id='System_Diagnostics_DiagnosticSource_dll' Name='System.Diagnostics.DiagnosticSource.dll' DiskId='1' Source='ProgramOutput\System.Diagnostics.DiagnosticSource.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_IO_Pipelines_dll' Guid ='5bb86c7b-0fe6-4845-8b25-fb16d6b05758'>
				<File Id='System_IO_Pipelines_dll' Name='System.IO.Pipelines.dll' DiskId='1' Source='ProgramOutput\System.IO.Pipelines.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Memory_dll' Guid ='a3f633a3-7d8b-4052-bed8-90307442b3ec'>
				<File Id='System_Memory_dll' Name='System.Memory.dll' DiskId='1' Source='ProgramOutput\System.Memory.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Numerics_Vectors_dll' Guid ='0a1b3ca1-c115-4aed-869d-23429880def2'>
				<File Id='System_Numerics_Vectors_dll' Name='System.Numerics.Vectors.dll' DiskId='1' Source='ProgramOutput\System.Numerics.Vectors.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Reflection_Metadata_dll' Guid ='65c8b37f-1358-4af2-a54f-c1c7a8f6e14a'>
				<File Id='System_Reflection_Metadata_dll' Name='System.Reflection.Metadata.dll' DiskId='1' Source='ProgramOutput\System.Reflection.Metadata.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Runtime_CompilerServices_Unsafe_dll' Guid ='13f5dfd0-fc70-4a75-807a-fa21abea950f'>
				<File Id='System_Runtime_CompilerServices_Unsafe_dll' Name='System.Runtime.CompilerServices.Unsafe.dll' DiskId='1' Source='ProgramOutput\System.Runtime.CompilerServices.Unsafe.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Security_AccessControl_dll' Guid ='7cd1cda0-05ca-4d8d-adba-2a6447131740'>
				<File Id='System_Security_AccessControl_dll' Name='System.Security.AccessControl.dll' DiskId='1' Source='ProgramOutput\System.Security.AccessControl.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Security_Principal_Windows_dll' Guid ='ac5a970e-cbc0-4e8e-ba31-26362b53f4c2'>
				<File Id='System_Security_Principal_Windows_dll' Name='System.Security.Principal.Windows.dll' DiskId='1' Source='ProgramOutput\System.Security.Principal.Windows.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Text_Encodings_Web_dll' Guid ='51672f3f-6c52-4849-bb6f-febfc00f1f8b'>
				<File Id='System_Text_Encodings_Web_dll' Name='System.Text.Encodings.Web.dll' DiskId='1' Source='ProgramOutput\System.Text.Encodings.Web.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Text_Json_dll' Guid ='cb1ee368-4cbc-4071-8326-5b9369880d4e'>
				<File Id='System_Text_Json_dll' Name='System.Text.Json.dll' DiskId='1' Source='ProgramOutput\System.Text.Json.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Threading_AccessControl_dll' Guid ='ad17d3d1-0b55-47ac-a6e0-a91a60215dac'>
				<File Id='System_Threading_AccessControl_dll' Name='System.Threading.AccessControl.dll' DiskId='1' Source='ProgramOutput\System.Threading.AccessControl.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Threading_Tasks_Dataflow_dll' Guid ='6c6d8901-f1cc-49d8-ab9c-0baedbb30103'>
				<File Id='System_Threading_Tasks_Dataflow_dll' Name='System.Threading.Tasks.Dataflow.dll' DiskId='1' Source='ProgramOutput\System.Threading.Tasks.Dataflow.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_Threading_Tasks_Extensions_dll' Guid ='7c533c78-c2b6-4254-940a-c380730a1d36'>
				<File Id='System_Threading_Tasks_Extensions_dll' Name='System.Threading.Tasks.Extensions.dll' DiskId='1' Source='ProgramOutput\System.Threading.Tasks.Extensions.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='System_ValueTuple_dll' Guid ='2ff0494a-6764-4bb3-b876-b84415579821'>
				<File Id='System_ValueTuple_dll' Name='System.ValueTuple.dll' DiskId='1' Source='ProgramOutput\System.ValueTuple.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='WF_ICS_ClassLibrary_dll' Guid ='86f6624b-f625-451c-8d60-5dec59beff4a'>
				<File Id='WF_ICS_ClassLibrary_dll' Name='WF-ICS-ClassLibrary.dll' DiskId='1' Source='ProgramOutput\WF-ICS-ClassLibrary.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='WildfireICSDesktopServices_dll' Guid ='d2d8c7d0-34c3-4da0-ad9e-28dd1e7630ab'>
				<File Id='WildfireICSDesktopServices_dll' Name='WildfireICSDesktopServices.dll' DiskId='1' Source='ProgramOutput\WildfireICSDesktopServices.dll' KeyPath='yes'></File>
			</Component>
			<Component Id='WildfireICSDesktopServices_XmlSerializers_dll' Guid ='abdbf876-24fb-4adf-86dd-9fc381279969'>
				<File Id='WildfireICSDesktopServices_XmlSerializers_dll' Name='WildfireICSDesktopServices.XmlSerializers.dll' DiskId='1' Source='ProgramOutput\WildfireICSDesktopServices.XmlSerializers.dll' KeyPath='yes'></File>
			</Component>







			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
			<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
		</ComponentGroup>
		<ComponentGroup Id="BlankFormComponents" Directory="BlankFormsFolder">
			<Component Id='ICS_218___Support_Vehicle_Equipment_Inventory_pdf' Guid ='92b85aa8-4126-46d8-882f-bb285bf627b8'>
				<File Id='ICS_218___Support_Vehicle_Equipment_Inventory_pdf' Name='ICS 218 - Support Vehicle Equipment Inventory.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS 218 - Support Vehicle Equipment Inventory.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_000_Title_Page_pdf' Guid ='ddc54d49-fe24-421a-bf54-2cd043493af1'>
				<File Id='ICS_000_Title_Page_pdf' Name='ICS-000 Title Page.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-000 Title Page.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_202_WF_Incident_Objectives_pdf' Guid ='60e3f391-374f-4899-900a-d88d60705d24'>
				<File Id='ICS_202_WF_Incident_Objectives_pdf' Name='ICS-202-WF-Incident-Objectives.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-202-WF-Incident-Objectives.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_203_WF_Organization_Assignment_List_Blanked_pdf' Guid ='ec60d4e0-c097-4cf0-9027-2fabccec0b7e'>
				<File Id='ICS_203_WF_Organization_Assignment_List_Blanked_pdf' Name='ICS-203-WF Organization Assignment List Blanked.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-203-WF Organization Assignment List Blanked.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_204A_WF_Assignment_Details_pdf' Guid ='8133a843-bab4-4638-b172-1cdd0ab60dd8'>
				<File Id='ICS_204A_WF_Assignment_Details_pdf' Name='ICS-204A-WF Assignment Details.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-204A-WF Assignment Details.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_204_WF_Assignment_List_pdf' Guid ='232b5b2f-b087-4684-a987-684c9103cf0d'>
				<File Id='ICS_204_WF_Assignment_List_pdf' Name='ICS-204-WF Assignment List.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-204-WF Assignment List.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS205A_CommunicationsList_pdf' Guid ='5ca41784-6e10-4930-be9a-57cbfa93892a'>
				<File Id='ICS205A_CommunicationsList_pdf' Name='ICS205A-CommunicationsList.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS205A-CommunicationsList.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS205WF_Communications_Plan_pdf' Guid ='6a6b0cc6-9ad9-4f21-ad98-337836f5c48b'>
				<File Id='ICS205WF_Communications_Plan_pdf' Name='ICS205WF-Communications-Plan.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS205WF-Communications-Plan.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_206_WF_Medical_Plan_pdf' Guid ='bfc842b2-e45c-4e76-bed8-6ee125b51d84'>
				<File Id='ICS_206_WF_Medical_Plan_pdf' Name='ICS-206-WF-Medical-Plan.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-206-WF-Medical-Plan.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_207_WF_Incident_Organization_Chart_Unified_pdf' Guid ='4d396eff-0e9b-40d0-bc51-dd52b2810579'>
				<File Id='ICS_207_WF_Incident_Organization_Chart_Unified_pdf' Name='ICS-207-WF Incident Organization Chart Unified.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-207-WF Incident Organization Chart Unified.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_207_WF_Incident_Organization_Chart_pdf' Guid ='58243d2b-385f-45fb-823c-7576d6c908af'>
				<File Id='ICS_207_WF_Incident_Organization_Chart_pdf' Name='ICS-207-WF Incident Organization Chart.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-207-WF Incident Organization Chart.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_207_WF_Organization_Chart_Extension_pdf' Guid ='1641555c-636b-4480-a743-e76e59291f5e'>
				<File Id='ICS_207_WF_Organization_Chart_Extension_pdf' Name='ICS-207-WF-Organization-Chart-Extension.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-207-WF-Organization-Chart-Extension.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_208_WF_Safety_Message_pdf' Guid ='52cabacd-9173-4c84-abfa-5fb2ba0a86aa'>
				<File Id='ICS_208_WF_Safety_Message_pdf' Name='ICS-208-WF-Safety-Message.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-208-WF-Safety-Message.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_208_WF_Safety_Message_with_image_pdf' Guid ='6aebd668-2b73-473f-bed2-0b4806e0cdd8'>
				<File Id='ICS_208_WF_Safety_Message_with_image_pdf' Name='ICS-208-WF-Safety-Message-with-image.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-208-WF-Safety-Message-with-image.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_213_WF_General_Message_pdf' Guid ='af06a5ee-e4c4-4bfe-aa63-5b8e7c470540'>
				<File Id='ICS_213_WF_General_Message_pdf' Name='ICS-213-WF-General-Message.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-213-WF-General-Message.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_214_WF_Activity_Log_pdf' Guid ='ba32099e-a152-4bf9-bff0-2cbead1cfc37'>
				<File Id='ICS_214_WF_Activity_Log_pdf' Name='ICS-214-WF-Activity-Log.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-214-WF-Activity-Log.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_214_WF_Activity_Log_Supplemental_pdf' Guid ='aeb344f5-20ac-43f2-8254-1aae3fb5ee2b'>
				<File Id='ICS_214_WF_Activity_Log_Supplemental_pdf' Name='ICS-214-WF-Activity-Log-Supplemental.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-214-WF-Activity-Log-Supplemental.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_220_WF_Air_Operations_Summary_Polygon_pdf' Guid ='c36e3dfa-336c-4c98-8ff0-9062cc878d75'>
				<File Id='ICS_220_WF_Air_Operations_Summary_Polygon_pdf' Name='ICS-220-WF Air Operations Summary Polygon.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-220-WF Air Operations Summary Polygon.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_220_WF_Air_Operations_Summary_pdf' Guid ='9451fa2f-4bac-44b6-a5e2-1aacd4027a7b'>
				<File Id='ICS_220_WF_Air_Operations_Summary_pdf' Name='ICS-220-WF Air Operations Summary.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-220-WF Air Operations Summary.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='Logistics_Overview_pdf' Guid ='deab6c3e-e25e-4d6c-81de-19ff5d3e61d9'>
				<File Id='Logistics_Overview_pdf' Name='Logistics Overview.pdf' DiskId='1' Source='ProgramOutput\BlankForms\Logistics Overview.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='Logistics_Overview_Subsequent_Page_pdf' Guid ='244d88bb-cd9b-4bdd-b71c-d1299a89a3bf'>
				<File Id='Logistics_Overview_Subsequent_Page_pdf' Name='Logistics Overview Subsequent Page.pdf' DiskId='1' Source='ProgramOutput\BlankForms\Logistics Overview Subsequent Page.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_221_WF_Demobilization_Checkout_pdf' Guid ='14288a87-b1dc-42ae-97ad-04c4d8ff5b6a'>
				<File Id='ICS_221_WF_Demobilization_Checkout_pdf' Name='ICS-221-WF Demobilization Checkout.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-221-WF Demobilization Checkout.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='ICS_211_WF_Check_In_pdf' Guid ='8a35b34f-27d2-4982-acdd-e979358ef3d8'>
				<File Id='ICS_211_WF_Check_In_pdf' Name='ICS-211-WF Check In.pdf' DiskId='1' Source='ProgramOutput\BlankForms\ICS-211-WF Check In.pdf' KeyPath='yes'></File>
			</Component>
			<Component Id='Dietary_and_Allergy_Details_pdf' Guid ='0babcff0-f294-43b4-98c1-9e50df05dd37'>
				<File Id='Dietary_and_Allergy_Details_pdf' Name='Dietary and Allergy Details.pdf' DiskId='1' Source='ProgramOutput\BlankForms\Dietary and Allergy Details.pdf' KeyPath='yes'></File>
			</Component>



		</ComponentGroup>
	</Fragment>

	
</Wix>
